<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<head>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<%= javascript_include_tag('jquery.tree','jquery.treecheckbox','jquery.treecollapse','jquery.treeselect','jquery.treeview')%>
<%= stylesheet_link_tag('jquery.tree','jquery-ui','jquery.treeview.css')%>
<script type="text/javascript">
  $(document).ready(function() {
      $( "#accordion" ).accordion({
          'collapsible': true,
          'active': -1
      });
      $('.jquery').each(function() {
          eval($(this).html());
      });
      $('.button').button();
  });
</script>
</head>
<body>
<h1>Listing imports</h1>
	<%= form_tag importCsv_employees_path, :method => 'post', :multipart => true do %>
		<p>
			Select File: 
			<%= file_field_tag 'file' %>
			<%= submit_tag 'Upload data', :name => nil %>
		</p>
	<% end %>  
  <div id="example-3">
	<script class="jquery" lang="text/javascript">
      $('#example-3 div').tree({
          components: ['checkbox', 'collapse'],
          onCheck: {
              node: 'expand'
          },
          onUncheck: {
              node: 'collapse'
          }
      });
  </script>
  <!--
  <div id="example-3 div">
	<% @employees.each do |aEmployee| %>
		<% if aEmployee.report_to == 0 %>
			<ul>
				<li class="collapsed"><input type="checkbox"><span><b><%= link_to aEmployee.first_name, "#", :class => "tree", :id => "#{aEmployee.position}" %> <%= aEmployee.last_name %>&nbsp;(<%= aEmployee.position_title %>)</b></span>				
				<div id="childs"></div>
			</ul>
		<% end %>
	<% end %>
	<label id="loading" style="color:#DD0000;font-size:12px;padding-left:5px;"></label>
	
	
	-->
	
	<%# if @employees.length > 0 %>
    <%# @employees.each do |tree| %>
        <%#= display_comments(@employees) %>
        <%= display_categories(@employees) %>
    <%# end %>
  <%# end %>
	<!--
	<% @employees.each do |aEmployee| %>
		<% if aEmployee.report_to == 0 %>
			<ul>
				<li class="collapsed"><input type="checkbox"><span><b><%= link_to aEmployee.first_name, "#", :class => "tree", :id => "#{aEmployee.position}" %> <%= aEmployee.last_name %>&nbsp;(<%= aEmployee.position_title %>)</b></span>				
				<div id="childs"></div>
			</ul>
		<% end %>
	<% end %>
	-->
</body>
</html>
<!--
<script type="text/javascript">
    $(document).ready(function(){
    	$(".tree").click(function(event){      
      	var targetId = event.target.id;								
				$.ajax({
							type: "POST",
              url: '/employees/get_child',
              data: { position: targetId},              
              cache: false,
              beforeSend: function( ) {
                $('#loading').append("loading...");
              },
              success: function(html){
                $('#loading').empty();
                $('#childs').append(html); 
               },
              error: function( ) {
                $('#loading').append("...error loading...");
              }
            });
    	});    		
    });
</script>

<script type="text/javascript">
$(document).ready( function() {
	$("#my_tree").treeview();
} );
</script>
-->
